.footer {
  background: #000000;
}

.footer-container {
  max-width: 1140px;
  padding: 80px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-family: 'Fira Sans', sans-serif;
  max-width: 60ch;
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-container li {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #ffffff;
}

.footer-copy {
  font-family: 'Fira Sans', sans-serif;
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 1000px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-texto {
    font-size: 1.2rem;
  }
  .footer-contato li {
    font-size: 1.25rem;
  }
}